{{title}}

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng">
  </agm-marker>

  <agm-marker [latitude]="lat2" [longitude]="lng2">
  </agm-marker>

  <agm-circle [latitude]="lat" [longitude]="lng"
      [radius]="5000"
      [fillColor]="color">
  </agm-circle>
  <agm-circle [latitude]="lat2" [longitude]="lng2"
      [radius]="5000"
      [fillColor]="color">
  </agm-circle>


  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon">
  </agm-marker>

  <agm-marker [latitude]="lat2" [longitude]="lng2" [iconUrl]="icon2">
  </agm-marker>

  <agm-marker [latitude]="lat3" [longitude]="lng3" [iconUrl]="icon3">
  </agm-marker>

  <agm-marker [latitude]="lat4" [longitude]="lng4" [iconUrl]="icon4">
  </agm-marker>

  <agm-polygon [paths]="triangle" [fillColor]="'red'">
  </agm-polygon>

  <agm-polygon [paths]="rettangolo" [fillColor]="colorR">
  </agm-polygon>

</agm-map>
<button (click)="onClickRed()"> cerchio rosso </button>
<button (click)="onClickBlu()"> cerchio blu </button>
<button (click)="onClickVerde()"> cerchio verde </button>
<button (click)="onClickRYellow()"> rettangolo giallo </button>
<button (click)="onClickRBlu()"> rettangolo blu </button>
<button (click)="onClickRVerde()"> rettangolo verde </button>
